.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
}
