.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-bottom: 1px solid black;
}

.left {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 16px;
}

.right {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}
